#color-palette {
    color: #131f2f;
    color: #102e4d;
    color: #3f4f6e;
    color: #695c7b;
    color: #e66f5c;
    color: #fe9b62;

    color: #020a1e;
    color: #011a4c;
    color: #03326c;
    color: #b2bed5;

}

/* title {
    display: block;
    padding: 1em;
    background-color: cornflowerblue;
    font-size: large;
} */

body {
    background-color: #626670;
    color: #b2bed5;
}

header {
    /* grid-area: header; */
    margin: 0;
    padding: 0;
}

nav {
    display: grid;
    position: fixed;
    top: 0px;
    height: 5em;
    width: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    background-color: #03326c;
    align-items: center;
    margin: 0;
    padding: 0;
}

#nav-bar {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 1.5em;
    padding-right: 1em;
}

#nav-logo {
    font-size: 2em;
    text-decoration: none;
    margin-left: .5em;
    color: #e66f5c;
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    color: #b2bed5;
    padding: 0.25em 0.5em;
    /* justify-content: center; */
    
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown:hover .nav-link {
    background-color: #011a4c;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.dropdown:hover .nav-link:hover {
    background-color: #3f4f6e;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.nav-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0px;
    position: absolute;
    margin-top: 1.70em;
    background-color: #011a4c;
    border-radius: .5em;
    transition: 0.3s;
}

.mini-player {
    width: 20vw;
    aspect-ratio: 4 / 3;
    background-color: #020a1e;
    margin: 1em;
}

.nav-card:hover {
    background-color: #3f4f6e;
    border-radius: .5em;
}

#nav-bar li:hover .nav-card {
    max-height: 100vh;
}

#main-wrapper {
    margin-top: 5em;
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10vh 10vw;
    width: 80vw;
    min-width: none;
    top: 5em;
    gap: 1em;
}

.flip-img-horizontal {
    transform: scaleX(-1);
}

.control-button {
    border-radius: .5em;
    padding: .5em;
    width: 90px;
    height: 90px;
}

.control-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.control-button:active {
    background-color: rgba(255, 255, 255, 0.33);
}

#main-sort-canvas {
    width: 98%;
    aspect-ratio: 2 / 1;
    align-self: center;
    background-color: #011a4c;
    border-radius: 1em;
}

h2 {
    font-size: 3em;
    margin: 0em;
    font-weight:300;
}

.box {
    background-color: #03326c;
    border-radius: 1em;
    padding: 1em;
}

#canvas1{
    margin: 0;
    width: 100%;
    height: 200vh;
}

#side-menu-wrapper {
    right: 0;
    top: 5em;
    position: fixed;
}

#side-menu-button {
    height: fit-content;
    float: left;
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    color: #b2bed5;
    padding: .5em;
    background-color: #011a4c;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

#side-menu {
    border-top: solid 2px #011a4c;
    color: #b2bed5;
    height: 100vh;
    max-width: 0;
    overflow-x: hidden;
    background-color: #03326c;
    transition: 0.3s;
}

#side-menu * {
    margin: 1em;
}

#side-menu form {
    display: flex;
    flex-direction: column;
    display:inline-block;
}

#side-menu.show {
    max-width: 30vw;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    display: none;
    /* grid-area: footer; */
    /* background-color: green; */
}