title {
    display: block;
    padding: 1em;
    background-color: cornflowerblue;
    font-size: large;
    
}

#wrapper {
    background-color: lightgrey;
}

header {
    /* grid-area: header; */
    margin: 0;
    padding: 0;
}

nav {
    display: grid;
    position: fixed;
    top: 0px;
    width: 100%;
    grid-template-columns: 2fr 14fr auto;
    grid-template-rows: auto;
    background-color: aqua;
    align-items: center;
    margin: 0;
    padding: 0;
}

#main-wrapper {
    display: grid;
    grid-template-columns: auto 0;
    animation: 0.5s;
    margin-top: 4.80em;
}

#nav-bar {
    display: flex;
    justify-content: right;
    list-style: none;
    font-size: 1.5em;
}

#nav-logo {
    font-size: 2em;
    text-decoration: none;
    color: black;
    margin-left: .5em;
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 0.25em;
    
}
#canvas1{
    margin: 0;
    width: 100%;
    height: 200vh;
    /* aspect-ratio: 1; */
    background-color: white;
}

#side-menu-wrapper {
    right: 0;
    /* height: 100%; */
    position: fixed;
    /* display: flex;
    justify-content: right; */
}

#side-menu-button {
    float: left;
    /* position: fixed;
    right: 0; */
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    padding: .5em;
    background-color: blue;
    overflow-x: hidden;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

#side-menu {
    height: 100vh;
    max-width: 0;
    overflow-x: hidden;
    background-color: red;
    transition: 0.3s;
}

#side-menu form {
    display: flex;
    flex-direction: column;
    display:inline-block;
}

#side-menu.show {
    max-width: 30vw;
}



main {
    grid-area: main;
}



body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    grid-area: footer;
    background-color: green;
}