#color-palette {
    color: #131f2f;
    color: #102e4d;
    color: #3f4f6e;
    color: #695c7b;
    color: #e66f5c;
    color: #fe9b62;

    color: #020a1e;
    color: #011a4c;
    color: #03326c;
    color: #b2bed5;

}

/* title {
    display: block;
    padding: 1em;
    background-color: cornflowerblue;
    font-size: large;
} */

body {
    background-color: #626670;
    color: #b2bed5;
}

header {
    margin: 0;
    padding: 0;
}

.box a {
    color: #fe9b62;
    text-decoration: underline;
}
a {
    text-decoration: none;
}

p {
    font-size: 1.1em;
}


table {
    border-collapse: collapse;
    border: #b2bed5 2px solid;
    font-size: 1em;
    background-color: #626670;
    color: #b2bed5;
}

caption {
    padding: 0.5em;
}

thead {
    background-color: #54397e;
}

td, th {
    font-size: .75em;
    text-align: center;
    padding: 0.5em;
    border: #b2bed5 1px solid;
}

nav {
    display: grid;
    position: fixed;
    top: 0px;
    width: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    background-color: #03326c;
    align-items: center;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 5px #000;
}

#nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.5em;
    padding-right: 1em;
}

#nav-logo {
    font-size: 2em;
    text-decoration: none;
    margin-left: .5em;
    color: #e66f5c;
    font-weight: bold;
}

#nav-logo img {
    width: 200px;
}

.nav-link {
    text-decoration: none;
    color: #b2bed5;
    padding: 0.25em 0.5em;
    /* justify-content: center; */
    
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown:hover .nav-link {
    background-color: #3f4f6e;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.dropdown:hover .nav-link:hover {
    background-color: #011a4c;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}

.nav-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0px;
    position: absolute;
    margin-top: 1.70em;
    background-color: #3f4f6e;
    border-radius: .5em;
    transition: 0.3s;
    padding: 0em;
    box-shadow: 0 25px 30px #000;
    align-items: center;
}

.mini-player {
    width: 10em;
    aspect-ratio: 4 / 3;
    background-color: #ffffff2c;
}

.nav-card:hover {
    background-color: #011a4c;
    border-radius: .5em;
}

#nav-bar li:hover .nav-card {
    max-height: 100vh;
    padding: 1em;
}

#main-wrapper {
    margin-top: 7.2em;
}

#overlay {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10vh 10vw;
    width: 80vw;
    top: 7.2em;
    gap: 1em;
}

.flip-img-horizontal {
    transform: scaleX(-1);
}

#player-controls {
    display: flex;
    justify-content: center;

}
#main-sort-out {
    background-color: #011a4c;
    padding: 1em;
    border-radius: 1em;
}
.control-button {
    border-radius: .5em;
    padding: .5em;
    width: 90px;
    height: 90px;
}

.control-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.control-button:active {
    background-color: rgba(255, 255, 255, 0.33);
}

#main-sort-canvas {
    width: 100%;
    /* max-width: 100vh; */
    aspect-ratio: 4 / 3;
    align-self: center;
    background-color: #011a4c;
    border-radius: 1em;
}

h2 {
    font-size: 3em;
    margin: .5em;
    font-weight:300;
}

.box {
    background-color: #03326c;
    border-radius: 1em;
    padding: 1em;
    width: 100%;
    max-width: 90vh;
}

#main-sort-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}
#particle-sim{
    margin: 0;
    width: 100%;
    height: 120vh;
}

#side-menu-wrapper {
    right: 0;
    top: 7.2em;
    position: fixed;
}

#side-menu-button {
    height: fit-content;
    float: left;
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    color: #b2bed5;
    padding: .5em;
    background-color: #011a4c;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

#side-menu {
    border-top: solid 2px #011a4c;
    color: #b2bed5;
    height: 80vh;
    padding-bottom: 20vh;
    max-width: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #03326c;
    transition: 0.3s;
}

#side-menu * {
    margin: .5em;
}

#config-submit-button {
    margin: 1em;
    width: 80%;
    height: 3em;
    border-radius: 1em;
    transition: 0.1s;
}

#config-submit-button:hover {
    background-color: #ffffffa4;
}

.config-section{
    display: grid;
    grid-template-columns: 3fr 75px;
}

.config-section input{
    max-height: min-content;
    border-radius: 5px;
}

#side-menu form .config-section input {
    min-width: 0;
}

#side-menu.show {
    max-width: 50vw;
    box-shadow: -1px 5px 5px #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    display: none;
    /* grid-area: footer; */
    /* background-color: green; */
}

@media (max-width:900px) {
    #nav-bar {
        flex-direction: column;
        
    }

    #side-menu-wrapper {
        top: 13.25em;
    }
    
    #main-wrapper {
        margin-top: 13.25em;
    }

    #overlay {
        top: 13.25em;
    }

    .control-button {
        width: 100%;
    }
}

@media (max-width:600px) {
    .control-button {
        width: 10vw;
        height: 10vw;
    }

    #nav-logo img {
        width: 150px;
    }

    nav {
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        text-align: center;
    }

    #side-menu-wrapper {
        top: 18.75em;
    }
    
    #main-wrapper {
        margin-top: 18.75em;
    }

    #overlay {
        top: 18.75em;
    }
    
    .config-section {
        display: flex;
        flex-direction: column;
    }

    #side-menu.show {
        max-width: 80vw;
    }
}
